/* Reset parent heights */
html, body {
  height: 100%;
  width: 100%;
}

/* Layout Grid wide view  */
.container {
  display: grid;
  grid-template-columns: 64px 1fr 450px;
  grid-template-rows: 100%;
  grid-auto-flow: row;
  grid-template-areas:
    "sidebar main aside";
  height: 100%;
  overflow-x: hidden;
}

#toggle {
  display: none;
}

/* Layout Grid medium-wide view  */
@media screen and (max-width: 964px) {
  .container {  display: grid;
    grid-template-columns: 64px 1fr 1fr;
    grid-template-rows: 100%;
    grid-auto-flow: row;
    grid-template-areas:
      "sidebar main aside";
    height: 100%;
  }

  #toggle {
    display: none;
  }
 }


 /* Layout Grid medium view  */

 /*
 @media screen and (max-width: 728px) {
   .container {
     display: grid;
     grid-template-columns: 64px auto 1px auto;
     grid-template-rows: 100%;
     grid-auto-flow: row;
     grid-template-areas:
       "sidebar main toggle aside";
     height: 100%;
   }

    .container .aside
    {
      width:64px;
      transition: all 0.2s ease-in-out;
    }

    .container.activeAside .aside
    {
      width: 450px;
      transition: all 0.2s ease-in-out;
    }

    #toggle {
      display: block;
    }
  }

  */

  .asideBackground
  {
    display:none;
  }

  .showOnNarrow
{
  display: none;
}

  /* Layout Grid narrow view  600 */
 @media screen and (max-width: 760px) {
   .container {
     display: grid;
     grid-template-columns: 100%;
     grid-template-rows: min-content;
     grid-auto-flow: row;
     grid-template-areas:
       "main";
     min-height: 100%;
     background-color:#FFFFFF;
   }

   #taskListMain.aside, #taskBlockMain.aside
   {
     display: none;
   }
  .showOnNarrow
   {
     display: flex;
   }

   .aside.floatingVisible
   {


       display: block;
       box-sizing: border-box;
       position: absolute;
       width: calc(100% - 100px);
       height: calc(100% - 100px);
       border-radius: 40px;
       z-index: 4;
       margin: 50px;

   }

   .sidebar {
     height: 64px;
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
   }

   #toggle {
     display: none;
   }
   .container{
     overflow:auto;
   }

   .main .innerContainer #taskList li.highlighted
   {
     background-color: transparent;
   }

}

  /* Layout Grid assignments  */
.sidebar { grid-area: sidebar; }

.aside { grid-area: aside; }

#toggle { grid-area: toggle; }

.main { grid-area: main; }

/* Container grid base visibility settings  */
.taskBlockShow, .dictionaryShow, .timerShow, .musicShow { display: none; }



.main, .aside {
  overflow:hidden;
  overflow-y:scroll;
}
/*
body, .container, .main, .aside {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar, .container::-webkit-scrollbar, .main::-webkit-scrollbar, .aside::-webkit-scrollbar {
  display: none;
}
*/
body, .container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar, .container::-webkit-scrollbar {
  display: none;
}
#floating
{
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  &.hidden {
    display: none;
  }
}
