:root {
  --taskSize: 80px;
}

#taskBlockContainer
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  margin-top: 50px;

  .buttonContainer
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-width: 300px;

    border: 1px solid yellow;

    button
    {

    }
  }

  span.message
  {
    font-size: small;
    font-style: italic;
    text-align: justify;
    margin-bottom: 15px;
  }

  div.arrow
  {
    position: absolute;
    top: 12px;
    left: -30px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 18px solid #C4C4C4;
    transform: rotate(45deg);
  }

  #taskBlock
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

    width: 100%;
    height: var(--taskBlockHeight);

    border-radius: 20px;
    border: 15px solid #F6F6F6;
    background-color: #F6F6F6;

    div
    {
      margin: 2px;
      width: calc(var(--taskSize) - 4px);
      height: calc(var(--taskSize) - 4px);
      box-sizing: border-box;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 15px;

      span
      {
        text-align:center;
        overflow: hidden;
        text-overflow: ellipsis;

        padding: 4px;
      }

      &:hover
      {font-style:italic;}
    }
  }
}
