#taskList {
  clear: both;
  margin-top: 50px;

  li
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 15px 15px 0px 15px;
    margin: 0px -15px;

    border-bottom: 1px solid #CCCCCC;

    &:first-child
    {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &:last-child
    {
      border-bottom: 0px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    &:hover
    {
      cursor: pointer;

      div.title
      {
        border-radius: 10px;
        background-color: #D6D6D666;
      }
    }

    &.highlighted
    {
      cursor:default;

      background-color: #D6D6D633;
    }

    &.done
    {
      div.title
      {
        text-decoration: line-through;
        text-decoration-thickness: 2px;
        background-color: #75D000;
        border-radius: 10px;
      }
    }

    div.split
    {
      margin-bottom: 15px;
      overflow-wrap: anywhere;
    }

    div.span
    {
      overflow-wrap: anywhere;
      flex-basis: 100%;

      margin-bottom: 20px;
    }

    div.title {
      position:relative;
      font-size: large;
      font-weight: bold;
      font-style: normal;
      padding: 5px 8px;
      left: -8px;
      top: -5px;
      margin-bottom: 10px;
      overflow-wrap: anywhere;
      max-width:200px;
    }
    div.rating {
      font-size: x-large;
      font-weight: bold;
      font-style: normal;
      text-align:right;

      &.low{
        color: #75D000;
      }

      &.medium{
        color: #FFB800;
      }

      &.high{
        color: #FF0000;
      }
    }
    div.description {
      font-size: medium;
      font-weight: normal;
      font-style: normal;
      overflow:hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;


      &.hidden {
        margin: 0px;
      }
    }
    div.remaining {
      font-size: medium;
      font-weight: bold;
      font-style: italic;
    }
    div.date {
      font-size: medium;
      font-weight: bold;
      font-style: normal;
    }

  }
}

.aside
{
  h1
  {
    display: inline-block;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    overflow-wrap: anywhere;
    min-height: 75px;
  }

  h2
  {
    display: inline-block;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 10px;
  }

  .buttonContainer
  {
    display:flex;
    justify-content: space-between;
    width:100%;

    button
    {
      padding: 10px 15px;
      border-radius: 10px;
      border: 0px solid red;
      cursor:pointer;
      font-size: large;
      font-style: normal;
      color: #ffffff;

      &#highLightListEdit, &#highLightBlockEdit
      {
        background-color: #75D000;

        &:hover
        {
          background-color: #75D000DD;
          font-style: italic;
        }
      }

      &#highLightListDelete, &#highLightBlockDelete
      {
        background-color: #FF000000;
        border: 2px solid #FF0000;
        color: #FF0000;

        &:hover
        {
          font-style: italic;
        }
      }
    }
  }

  .section
  {
    margin-bottom: 40px;
    position: relative;

    &.title {
      display:flex;
      flex-wrap:nowrap;
      justify-content: space-between;
    }

    p {
      max-width:100%;
      overflow-wrap: anywhere;
    }
  }

  .module
  {
    box-sizing:content-box;
    position: relative;
    min-height:40px;
    border-radius: 20px;
    background-color: #FFFFFF;
    width:100%;
    padding: 10px 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: large;
    line-height: 150%;
    font-weight: normal;
    margin: 0px -25px;

    [type=range] {
      width:100%;
    }
  }

  .section.range
  {
    span
    {
      position: relative;
      float: right;
      font-size: xx-large;
      font-weight: bold;
      bottom: 5px;
    }
  }

  .dateContainer
  {
    display: flex;
    justify-content: space-between;

    .section{
      position: relative;
      width: 50%;

      .module
      {
        box-sizing: border-box;
        width: calc(100% + 12px);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow:column;

        span {
          margin: 0px;
          padding: 0px;
        }
      }

      &:first-child .module
      {
        margin: 0px;
        left: -25px;
      }

      &:last-child .module
      {
        margin: 0px;
        right:-12px;

      }

      &:last-child h2
      {
        margin-left: 37px;
      }
    }
  }

  #highlightListCheckmark, #highlightBlockCheckmark {
    min-width: 75px;
    height:75px;
    margin-left:20px;
    background-color: #C4C4C433;
    border-radius: 20px;
    color: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    cursor:pointer;
    margin-top: -20px;

    &:hover{
      background-color: #D6D6D633;
      color: #D6D6D6;
    }

    &.done
    {
      background-color: #75D000;
      color: #000000E6;

      &:hover{
        background-color: #75D000DD;
      }
    }
  }

  #highlightListSubtasks, #highlightBlockSubtasks
  {
    padding: 0px 10px;
    position: relative;
    margin-right: 20px;

    li
    {
      position: relative;
      padding: 10px;
      padding-left: 50px;
      width: 100%;

      cursor:pointer;

      &:hover
      {
        background-color: #C4C4C411;
        border-radius: 100px;
      }

      .sub
      {
        display: inline-block;
        max-width:80%;
        height: 100%;
        text-overflow:ellipsis;
        overflow:hidden;
      }

      .tick
      {
        display: inline-block;
        margin-left: 20px;
      }

      div
      {
        position: absolute;
        top: 50%;
        margin-top: -5px;
        left: 15px;

        border-radius: 6px;

        &.dot
        {
          background-color: #000000E6;
          width: 12px;
          height:12px;
          z-index:1;
        }
        &.line
        {

          background-color: #DDDDDD;
          margin-left:4px;
          margin-top:-2px;
          width: 4px;
          height:36px;
        }
      }


      &.uncomplete
      {
        div.dot {
          background-color: #DDDDDD;
        }
        .tick {
          color: #DDDDDD;
        }
      }

      &:last-child div.line
      {
        display:none;
      }
    }
  }
}

.innerContainer .addTasks {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;

  border-radius: 100px;
  background-color: #C4C4C4;

  line-height: 90%;
  text-align: center;
  color: #FFFFFF;
  font-size: xx-large;
  font-weight: bold;
  font-style: normal;

  &:hover {
    background-color: #D6D6D6;
  }
}

.aside .addTasks
{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 20px;

  font-size: 100px;

  color: #D6D6D6;
  outline: 5px solid #D6D6D6;

  &:hover
  {
    color: #D6D6D6AA;
    outline: 5px solid #D6D6D6AA;
  }

  cursor: pointer;

  div {
    postion: inline-block;
    width: 100%;
    height: 20px;
    margin: 10px;
    background-color: red;
  }
}

.emptyTasks
{
  width: 100%;
  text-align: center;

  p {
    margin: 20px;
  }
}
